version: '{build}'
os: Windows Server 2012

environment:
  CODACY_PROJECT_TOKEN:
    secure: h3lgKq47Oah4uAdyxMy1ywTsZjv4JgEyT08PxYuzwnGaDVGsFUWzFxB+RfFNY4Uc

install:
  - ps: |
      Add-Type -AssemblyName System.IO.Compression.FileSystem
      if (!(Test-Path -Path "C:\sbt" )) {
        (new-object System.Net.WebClient).DownloadFile(
          'https://dl.bintray.com/sbt/native-packages/sbt/0.13.9/sbt-0.13.9.zip',
          'C:\sbt-bin.zip'
        )
        [System.IO.Compression.ZipFile]::ExtractToDirectory("C:\sbt-bin.zip", "C:\sbt")
      }
  - cmd: Set PYTHON=C:\Python35
  - cmd: SET PATH=C:\sbt\sbt\bin;%JAVA_HOME%\bin;%PYTHON%\Scripts;%PATH%
  - cmd: echo %PATH%
  - cmd: SET SBT_OPTS=-XX:MaxPermSize=2g -Xmx4g
  - cmd: SET JAVA_OPTS=-XX:MaxPermSize=2g -Xmx4g
  - cmd: java -version
  - cmd: pip install codecov

build_script:
  - sbt clean windows:packageBin 
test_script:
  - sbt test
artifacts:
  - path: 'target\scala-*\*.jar'
    name: Java Package
  - path: 'target\windows\*.msi'
    name: Windows Installer
deploy:
  provider: GitHub
  tag: $(APPVEYOR_REPO_TAG_NAME)
  description: ''
  auth_token:
    secure: XSSEVEdWgj60ZMOTimzmd92UJc4aP5B46CuNM+y2llK6onAqOoM0Y5RcIrCD3dZF
  # Note: regexp is needed here, vs. ant-style path in artifacts section
  artifact: /.*\.msi/
  draft: false
  prerelease: true
  on:
    appveyor_repo_tag: true
cache:
  - C:\sbt\
  - C:\Users\appveyor\.ivy2
